.advantages {
    min-height: 472px;
    padding: 70px 0 82px 0;
    background-color: #f6f6f6;
    &__header {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #0d0d0d;
    }
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 258px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #0d0d0d;
            span {
                font-weight: 900;
                font-size: 18px;
                display: block;
                margin: 38px 0 28px 0;
                line-height: 0;
            }
            a {
                text-transform: uppercase;
                color: #ff0000;
                text-decoration-color: #f99999;
            }
    }
}